@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.PersonProfile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PersonProfileHeader {
    width: 85%;
    height: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}
.PersonProfileRedButton {
    width: 116.67px;
    height: 27.12px;
    background-color: #4B51EF;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.PersonProfileMainArea {
    width: 85%;
    height: 50%;
    border: 2px solid #F3F3F3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.PersonProfileBox {
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 9px;
    color: #000000;
}
.PersonProfileTextBox {
    margin-top: 4px;
    width: 300px;
    height: 22px;
    border: 2px solid #D8D8D8;
    border-radius: 5px;
    color: #BDBDBD;
    cursor: default;
}
.PersonProfileEditableTextBox {
    margin-top: 4px;
    width: 300px;
    height: 22px;
    border: 2px solid #D8D8D8;
    border-radius: 5px;
    color: black;
}
.PersonProfileInvalidTextBox {
    margin-top: 4px;
    width: 300px;
    height: 22px;
    border: 2px solid #D91313;
    border-radius: 5px;
    color: black;
}
.PersonProfileBoxComment {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 9px;
    color: #000000;
}
.PersonProfileTextBoxComment {
    width: 90%;
    height: 100px;
    margin-top: 4px;
    border: 2px solid #D8D8D8;
    border-radius: 5px;
}
.PersonProfileSave {
    width: 85%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.PersonProfileSaveButton {
    width: 85px;
    height: 25px;
    background-color: #AFAFAF;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.PersonProfileSaveButton1 {
    width: 85px;
    height: 25px;
    background-color: #52CF4F;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
}